@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #111;
  color: #fff;
  font-weight: 400;
}

h2,
h3 {
  font-weight: normal;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.bg-stripe1 {
  position: relative;
}

.bg-stripe1::before {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: -37px;
  top: -2.3125rem;
  bottom: 0;
  z-index: -1;
  content: "";
  width: 206.9333333333%;
  height: 0;
  -webkit-transform: rotate(61.09deg);
          transform: rotate(61.09deg);
  border-top: 1px solid #f9f871;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}
@media screen and (min-width: 768px) {
  .bg-stripe1::before {
    top: -9.0625%;
    width: 141.40625%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.bg-stripe2 {
  position: relative;
  overflow: hidden;
}

.bg-stripe2::after {
  display: block;
  position: absolute;
  right: 0px;
  right: 0rem;
  top: -639px;
  top: -39.9375rem;
  bottom: 0;
  z-index: -2;
  content: "";
  width: 391.3513513514vw;
  height: 0;
  -webkit-transform: rotate(-74.9deg);
          transform: rotate(-74.9deg);
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #f9f871;
  -webkit-transform-origin: right center;
          transform-origin: right center;
}
@media screen and (min-width: 768px) {
  .bg-stripe2::after {
    width: 141.40625vw;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -21.40625vw;
    right: 0;
  }
}

.blog-card {
  background: #fff;
  display: block;
  color: #333;
}

@media screen and (min-width: 768px) {
  .blog-card:hover {
    background-color: #333;
    color: #fff;
  }
  .blog-card:hover .blog-card__img img {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}

.blog-card__title {
  font-weight: 500;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.944;
  letter-spacing: 0.048em;
}

.blog-card__text,
.blog-card__category {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.8571;
  letter-spacing: 0.071em;
}

.blog-card__text,
.blog-card__info {
  padding-top: 4px;
  padding-top: 0.25rem;
}
@media screen and (min-width: 768px) {
  .blog-card__text,
.blog-card__info {
    padding-top: 0.5rem;
  }
}

.blog-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-card__category {
  background: #ffea2e;
  padding: 8px 5px;
  padding: 0.5rem 0.3125rem;
  line-height: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
}

.blog-card__body {
  padding: 3px 22px 13px;
  padding: 0.1875rem 1.375rem 0.8125rem;
}
@media screen and (min-width: 768px) {
  .blog-card__body {
    padding: 0.0625rem 1.5rem 0.75rem;
  }
}

.blog-card__img {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-transition: inherit;
  transition: inherit;
}

.blog-card__img::before {
  content: "";
  display: block;
  padding-top: 66.571429%;
}

.blog-card__img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: inherit;
  transition: inherit;
}

.blog-card.blog-card--new {
  position: relative;
}

.blog-card.blog-card--new::before {
  display: block;
  position: absolute;
  top: -18px;
  top: -1.125rem;
  left: -17px;
  left: -1.0625rem;
  z-index: 3;
  content: "new";
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: 0.125em;
  border-radius: 50%;
  color: #333;
  background-color: #ffba6a;
  padding: 22px 11.23px;
  padding: 1.375rem 0.701875rem;
}
@media screen and (min-width: 768px) {
  .blog-card.blog-card--new::before {
    top: -1rem;
    left: -0.875rem;
  }
}

.blog__items {
  margin-top: 69px;
  margin-top: 4.3125rem;
}
@media screen and (min-width: 768px) {
  .blog__items {
    margin-top: 2.8125rem;
  }
}

.blog__btn {
  text-align: center;
  margin-top: 26px;
  margin-top: 1.625rem;
}
@media screen and (min-width: 768px) {
  .blog__btn {
    margin-top: 3rem;
  }
}

.box1__bgc {
  position: relative;
}

.box1__bgc::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  background-color: #333;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .box1__bgc::before {
    left: auto;
    left: initial;
    width: calc(50% + 16rem);
  }
}

.box1__wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .box1__wrapper {
    max-width: 1305px;
    padding-left: 25px;
  }
}

.box1__inner.inner {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .box1__inner.inner {
    max-width: 74.375rem;
    margin-right: 0;
  }
}

.box1__contents {
  margin-top: 54px;
  margin-top: 3.375rem;
}
@media screen and (min-width: 768px) {
  .box1__contents {
    margin-top: 2.5625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5rem 5.6875rem 5rem 0;
    position: relative;
  }
}

.box1__content {
  padding: 29px 20px 20px;
  padding: 1.8125rem 20px 1.25rem;
  width: 100%;
  max-width: 540px;
  max-width: 33.75rem;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .box1__content {
    max-width: 31.875rem;
    padding: 0;
    margin-left: 2rem;
  }
}

.box1__text {
  margin-top: 28px;
  margin-top: 1.75rem;
  letter-spacing: 0.125em;
  line-height: 1.45;
}
@media screen and (min-width: 768px) {
  .box1__text {
    margin-top: 2.6875rem;
    line-height: 2.1875;
    letter-spacing: 0.03125em;
  }
}

.box1__btn {
  text-align: center;
  margin-top: 26px;
  margin-top: 1.625rem;
}
@media screen and (min-width: 768px) {
  .box1__btn {
    text-align: left;
    margin-top: 3rem;
    font-weight: 500;
  }
}

.box2__bgc {
  position: relative;
}

.box2__bgc::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  background-color: #333;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .box2__bgc::before {
    right: auto;
    right: initial;
    width: calc(50% + 16rem);
  }
}

.box2__wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .box2__wrapper {
    max-width: 1305px;
    padding-right: 25px;
  }
}

.box2__inner.inner {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .box2__inner.inner {
    max-width: 74.375rem;
    margin-left: 0;
  }
}

.box2__contents {
  margin-top: 54px;
  margin-top: 3.375rem;
}
@media screen and (min-width: 768px) {
  .box2__contents {
    margin-top: 2.5625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 5rem 0 5rem 5.6875rem;
    position: relative;
  }
}

.box2__img {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .box2__img {
    margin-left: 2rem;
  }
}

.box2__img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, .2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.box2__img::before {
  content: "";
  display: block;
  padding-top: 69.6%;
}
@media screen and (min-width: 768px) {
  .box2__img::before {
    padding-top: 69.83842%;
  }
}

.box2__img img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.box2__content {
  padding: 29px 20px 20px;
  padding: 1.8125rem 20px 1.25rem;
  width: 100%;
  max-width: 540px;
  max-width: 33.75rem;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .box2__content {
    max-width: 31.875rem;
    padding: 0;
  }
}

.box2__text {
  margin-top: 28px;
  margin-top: 1.75rem;
  letter-spacing: 0.125em;
  line-height: 1.45;
}
@media screen and (min-width: 768px) {
  .box2__text {
    margin-top: 2.6875rem;
    line-height: 2.1875;
    letter-spacing: 0.03125em;
  }
}

.box2__btn {
  text-align: center;
  margin-top: 26px;
  margin-top: 1.625rem;
}
@media screen and (min-width: 768px) {
  .box2__btn {
    text-align: left;
    margin-top: 3rem;
    font-weight: 500;
  }
}

.btn {
  display: inline-block;
  width: 100%;
  color: #fff;
  background-color: #333;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  border: 1px solid #fff;
  padding: 9px 0;
  padding: 0.5625rem 0;
}
@media screen and (min-width: 768px) {
  .btn {
    width: auto;
    width: initial;
    position: relative;
    z-index: 100;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (min-width: 768px) {
  .btn::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100;
    content: "";
    background-color: #fff;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (min-width: 768px) {
  .btn:hover {
    color: #333;
  }
}

@media screen and (min-width: 768px) {
  .btn:hover::before {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .btn.btn--reverse {
    background-color: #fff;
    color: #333;
    letter-spacing: normal;
    padding: 0.1875rem 1.6875rem;
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .btn.btn--reverse::before {
    background-color: #333;
  }
}

@media screen and (min-width: 768px) {
  .btn.btn--reverse:hover {
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .btn.btn--main {
    font-size: 1rem;
    letter-spacing: 0.125em;
    padding: 1.0625rem 8.375rem;
  }
}

@media screen and (min-width: 768px) {
  .btn.btn--large {
    font-size: 1.25rem;
    padding: 0.875rem 6.375rem;
  }
}

@media screen and (min-width: 768px) {
  .btn.btn--small {
    font-size: 1rem;
    letter-spacing: normal;
    padding: 0.1875rem 1.6875rem;
    background-color: #fff;
    color: #333;
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .card-list__item {
    width: 100%;
    max-width: calc(33.3333% - 1.04167rem);
  }
}

.card-list__item + .card-list__item {
  margin-top: 25px;
  margin-top: 1.5625rem;
}
@media screen and (min-width: 768px) {
  .card-list__item + .card-list__item {
    margin-top: 0;
    margin-left: 1.5625rem;
  }
}

@media screen and (min-width: 768px) {
  .card-list__item:nth-child(3n+1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .card-list__item:nth-child(n+4) {
    margin-top: 3.125rem;
  }
}

.category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .category-list {
    padding-left: 25px;
  }
}

.category-list__item {
  margin-top: 15px;
  margin-top: 0.9375rem;
  margin-left: 13px;
  margin-left: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .category-list__item {
    margin-left: 1.8125rem;
  }
}

@media screen and (min-width: 768px) {
  .category-list__item:first-child {
    margin-left: 0;
  }
}

.category-list__item a {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .category-list__item a:hover {
    color: #333;
    background-color: #fff;
  }
}

.category-list__item a,
.category-list__current {
  letter-spacing: 0.125em;
  display: inline-block;
  padding: 3px 7.5px;
  padding: 0.1875rem 0.46875rem;
}

.category-list__current {
  color: #333;
  background-color: #fff;
}

.contact {
  padding-top: 71px;
  padding-top: 4.4375rem;
  padding-bottom: 64px;
  padding-bottom: 4rem;
  background-color: #3d3d3d;
}
@media screen and (min-width: 768px) {
  .contact {
    padding-top: 9.4375rem;
    padding-bottom: 9rem;
  }
}

.contact__text {
  letter-spacing: 0.125em;
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .contact__text {
    text-align: center;
    margin-top: 1.5rem;
  }
}

.contact__btn {
  text-align: center;
  margin-top: 45px;
  margin-top: 2.8125rem;
}
@media screen and (min-width: 768px) {
  .contact__btn {
    margin-top: 3.8125rem;
  }
}

.content-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-card__link {
  display: block;
  font-size: 5.3333333333vw;
  letter-spacing: 0.1em;
  text-align: center;
  padding-top: 18.4vw;
  padding-bottom: 18.4vw;
}
@media screen and (min-width: 768px) {
  .content-card__link {
    font-size: 1.953125vw;
    letter-spacing: 0.08em;
    padding-top: 11.015625vw;
    padding-bottom: 11.015625vw;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .content-card__link::after {
    content: "";
    opacity: 0;
    -webkit-transition: inherit;
    transition: inherit;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.content-card__link:hover::after {
  opacity: 0.6;
}

.content-card.content-card--1 {
  background-image: url(./../images/top/link-card01.jpg);
}

.content-card.content-card--2 {
  background-image: url(./../images/top/link-card02.jpg);
}

.content-card.content-card--3 {
  background-image: url(./../images/top/link-card03.jpg);
}

.content-card.content-card--4 {
  background-image: url(./../images/top/link-card04.jpg);
}

.footer {
  padding-top: 52px;
  padding-top: 3.25rem;
  padding-bottom: 58px;
  padding-bottom: 3.625rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 1.75rem;
    padding-bottom: 1.9375rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 2rem;
    padding-right: 1rem;
  }
}

.footer__logo {
  width: 70px;
  width: 4.375rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    width: 4.5625rem;
    height: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer__items {
  margin-top: 3px;
  margin-top: 0.1875rem;
}
@media screen and (min-width: 768px) {
  .footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__item a {
  display: block;
  width: 100%;
  letter-spacing: 0.075em;
  padding: 3px 0;
  padding: 0.1875rem 0;
}
@media screen and (min-width: 768px) {
  .footer__item a {
    padding: 0.375rem 1rem;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .footer__item a::after {
    content: "";
    -webkit-transition: inherit;
    transition: inherit;
    opacity: 0;
    display: block;
    background-color: #ffea2e;
    position: absolute;
    bottom: 0rem;
    left: 1rem;
    width: calc(100% - 2rem);
    height: 0.0625rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__item a:hover::after {
    opacity: 1;
  }
}

.footer__copy {
  font-size: 11px;
  font-size: 0.6875rem;
  letter-spacing: 0.10909091em;
  margin-top: 33px;
  margin-top: 2.0625rem;
}
@media screen and (min-width: 768px) {
  .footer__copy {
    font-size: 0.9375rem;
    letter-spacing: 0.08em;
    line-height: 2.3333333;
    margin-top: 4.0625rem;
  }
}

.hamburger {
  display: inline-block;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 25px;
  width: 1.5625rem;
  height: 2px;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: inherit;
  transition: inherit;
}
.hamburger__line::before, .hamburger__line::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  content: "";
  -webkit-transition: inherit;
  transition: inherit;
}

.hamburger__line::before {
  top: -6px;
  top: -0.375rem;
}

.hamburger__line::after {
  top: 6px;
  top: 0.375rem;
}

.hamburger[aria-expanded=true] .hamburger__line {
  background-color: transparent;
}
.hamburger[aria-expanded=true] .hamburger__line::before, .hamburger[aria-expanded=true] .hamburger__line::after {
  top: 0;
  background-color: #fff;
}

.hamburger[aria-expanded=true] .hamburger__line::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger[aria-expanded=true] .hamburger__line::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header {
  background-color: rgba(17, 17, 17, .5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 22px;
  padding: 0 1.375rem;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding-right: 0;
    padding-left: 2rem;
  }
}

.header__logo {
  width: 74px;
  width: 4.625rem;
  height: 25px;
  height: 1.5625rem;
  position: relative;
  z-index: 9999;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 5.875rem;
    height: 1.875rem;
  }
}

.header__hamburger {
  position: absolute;
  top: 17px;
  top: 1.0625rem;
  right: 17px;
  right: 1.0625rem;
  z-index: 5;
  width: 36px;
  width: 2.25rem;
  height: 16px;
  height: 1rem;
}

.header__sp-nav {
  position: fixed;
  z-index: 4;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
}

.header.headerColorScroll {
  background-color: #111;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.inner {
  width: 100%;
  max-width: 540px;
  max-width: 33.75rem;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-category-list {
  margin-top: 65px;
  margin-top: 4.0625rem;
}
@media screen and (min-width: 768px) {
  .l-category-list {
    margin-top: 6rem;
  }
}

.l-category-list.inner {
  max-width: 100%;
  padding-right: 0;
  margin-left: -13px;
  margin-left: -0.8125rem;
}
@media screen and (min-width: 768px) {
  .l-category-list.inner {
    max-width: 1150px;
    padding-right: 25px;
    margin-left: auto;
  }
}

.l-header {
  height: 50px;
  height: 3.125rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.l-pagination {
  margin-top: 14px;
  margin-top: 0.875rem;
}

.l-pagination.inner {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .l-pagination.inner {
    max-width: 1150px;
  }
}

.wp-pagenavi {
  margin-top: 81px;
  margin-top: 5.0625rem;
}
@media screen and (min-width: 768px) {
  .wp-pagenavi {
    margin-top: 6.5625rem;
  }
}

.pagetop {
  visibility: hidden;
  opacity: 0;
  color: #fff;
  cursor: pointer;
  background-color: #fff;
  padding: 22.5px;
  padding: 1.40625rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: fixed;
  z-index: 100;
  right: 21px;
  right: 1.3125rem;
  bottom: 41px;
  bottom: 2.5625rem;
}
@media screen and (min-width: 768px) {
  .pagetop {
    right: 1.9375rem;
    bottom: 2.0625rem;
  }
}

@media screen and (min-width: 768px) {
  .pagetop:hover {
    color: #fff;
    background-color: #333;
  }
}

.pagetop::before {
  content: "";
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 1.25rem;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  left: 13px;
  left: 0.8125rem;
  top: 19px;
  top: 1.1875rem;
  -webkit-transition: inherit;
  transition: inherit;
}

@media screen and (min-width: 768px) {
  .pagetop:hover:before {
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
  }
}

.pagetop.is-fadein {
  visibility: visible;
  opacity: 1;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 768px) {
  .pagination {
    padding-left: 25px;
  }
}

.pagination__list {
  position: relative;
}

.pagination__list:not(:last-child)::after {
  content: ">";
  display: inline-block;
  position: absolute;
  top: 0;
  right: -15px;
  right: -0.9375rem;
  bottom: 0;
}

.pagination__list:nth-child(n+2) {
  margin-left: 20px;
  margin-left: 1.25rem;
}

.pc-nav {
  height: inherit;
  display: none;
}
@media screen and (min-width: 768px) {
  .pc-nav {
    display: block;
  }
}

.pc-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.pc-nav__item {
  height: inherit;
}

.pc-nav__item a {
  color: #fff;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15.5px;
  padding: 0 0.96875rem;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.125em;
  position: relative;
}

.pc-nav__item a::after {
  content: "";
  -webkit-transition: inherit;
  transition: inherit;
  opacity: 0;
  display: block;
  background-color: #ffea2e;
  position: absolute;
  bottom: 9px;
  bottom: 0.5625rem;
  left: 16px;
  left: 1rem;
  width: calc(100% - 2rem);
  height: 1px;
  height: 0.0625rem;
}

.pc-nav__item a:hover::after {
  opacity: 1;
}

.pc-nav__item.pc-nav__item--white a {
  margin-left: 13px;
  margin-left: 0.8125rem;
  color: #333;
  background-color: #fff;
  padding: 0 31px;
  padding: 0 1.9375rem;
}

.pc-nav__item.pc-nav__item--white a:hover {
  background-color: #333;
  color: #fff;
}

.pc-nav__item.pc-nav__item--white a:hover::after {
  content: none;
}

.section-box1 {
  margin-top: 124px;
  margin-top: 7.75rem;
}
@media screen and (min-width: 768px) {
  .section-box1 {
    margin-top: 12.8125rem;
  }
}

.section-box2 {
  margin-top: 124px;
  margin-top: 7.75rem;
}
@media screen and (min-width: 768px) {
  .section-box2 {
    margin-top: 12.8125rem;
  }
}

.section-contact {
  margin-top: 120px;
  margin-top: 7.5rem;
}
@media screen and (min-width: 768px) {
  .section-contact {
    margin-top: 9.0625rem;
  }
}

.section-header {
  position: relative;
}

.section-header__title {
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .section-header__title {
    font-size: 1.875rem;
    letter-spacing: 0.06666667em;
  }
}

.section-header__subtitle {
  display: block;
  font-family: "Noto Serif JP", serif;
  text-transform: capitalize;
  color: #f9f871;
  opacity: 0.2;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1;
  letter-spacing: 0.04em;
  position: absolute;
  bottom: 13px;
  bottom: 0.8125rem;
  left: 0;
  right: 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section-header__subtitle {
    font-size: 6.875rem;
    letter-spacing: 0.01818182em;
  }
}

@media screen and (min-width: 768px) {
  .section-header__subtitle--content {
    bottom: -3.5625rem;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .section-header__subtitle--box1 {
    text-align: right;
    bottom: -3.0625rem;
    max-width: 71.875rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 25px;
  }
}

@media screen and (min-width: 768px) {
  .section-header__subtitle--box2 {
    text-align: left;
    bottom: -3.0625rem;
    max-width: 71.875rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
  }
}

@media screen and (min-width: 768px) {
  .section-header__subtitle--blog {
    bottom: -2.5rem;
    text-align: right;
  }
}

@media screen and (min-width: 768px) {
  .section-header__subtitle--contact {
    bottom: -0.625rem;
    text-align: left;
  }
}

.section-header__title.section-header__title--sub {
  font-size: 25px;
  font-size: 1.5625rem;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) {
  .section-header__title.section-header__title--sub {
    font-size: 1.875rem;
    letter-spacing: 0.06666667em;
  }
}

.slide-imgs {
  width: 100%;
  position: relative;
}

.slide-imgs__img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, .2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.slide-imgs::before {
  content: "";
  display: block;
  padding-top: 69.6%;
}
@media screen and (min-width: 768px) {
  .slide-imgs::before {
    padding-top: 69.83842%;
  }
}

.slide-imgs__swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slide-imgs__slide,
.slide-imgs__img,
.slide-imgs__img img {
  width: inherit;
  height: inherit;
}

.sp-nav {
  background-color: #000;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .sp-nav {
    display: none;
  }
}

.sp-nav__items {
  padding: 143px 0 208px;
  padding: 8.9375rem 0 13rem;
  margin-top: 50px;
  margin-top: 3.125rem;
  height: 100vh;
  overflow: scroll;
}

.sp-nav__item a {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-top: 1rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.125em;
}

.is-drawerActive .sp-nav {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sub-title {
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .sub-title {
    font-size: 1.5625rem;
    letter-spacing: 0.02em;
    text-align: left;
  }
}

.swiper-wrapper,
.swiper-slide,
.swiper-slide__img,
.swiper-slide__img img {
  height: inherit;
}

.swiper-pagination-bullet {
  background: #c4c4c4;
  opacity: 1;
  width: 8px;
  width: 0.5rem;
  height: 8px;
  height: 0.5rem;
}

.swiper-pagination-bullet-active {
  background: #f9f871;
  opacity: 1;
  width: 8px;
  width: 0.5rem;
  height: 8px;
  height: 0.5rem;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -18px;
  bottom: -1.125rem;
}
@media screen and (min-width: 768px) {
  .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -2rem;
    left: -1.1875rem;
  }
}

.wp-pagenavi {
  clear: both;
  text-align: center;
}

.wp-pagenavi a,
.wp-pagenavi span {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  margin-left: 12px;
  margin-left: 0.75rem;
  padding: 3px 6.55px;
  padding: 0.1875rem 0.409375rem;
  white-space: nowrap;
  line-height: 1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.wp-pagenavi .first,
.wp-pagenavi .last {
  letter-spacing: 0.125em;
  padding: 3px 11px;
  padding: 0.1875rem 0.6875rem;
}

.wp-pagenavi .first {
  margin-left: 0;
}

.wp-pagenavi .last {
  margin-left: 19px;
  margin-left: 1.1875rem;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .wp-pagenavi a:hover {
    color: #333;
    background-color: #fff;
    border-color: #fff;
  }
}

.wp-pagenavi span.current {
  color: #333;
  background-color: #fff;
  border-color: #fff;
  margin-left: 19px;
  margin-left: 1.1875rem;
}

.section-sub-blog {
  margin-top: 37px;
  margin-top: 2.3125rem;
}
@media screen and (min-width: 768px) {
  .section-sub-blog {
    margin-top: 2.6875rem;
  }
}

.sub-main-view {
  position: relative;
  min-height: 425px;
  min-height: 26.5625rem;
}
@media screen and (min-width: 768px) {
  .sub-main-view {
    min-height: 23.125rem;
  }
}

.sub-main-view::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, .2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.sub-main-view__img,
.sub-main-view__img img {
  min-height: inherit;
}

.sub-main-view__title {
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  line-height: 1;
  z-index: 2;
  font-size: 30px;
  font-size: 1.875rem;
  letter-spacing: 0.06666667em;
}
@media screen and (min-width: 768px) {
  .sub-main-view__title {
    font-size: 2.1875rem;
    letter-spacing: 0.05714286em;
  }
}

.content__items {
  margin-top: 51px;
  margin-top: 3.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .content__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.content__item {
  width: 50%;
}
@media screen and (min-width: 768px) {
  .content__item {
    width: 25%;
  }
}

.main-view {
  height: 100vh;
  position: relative;
}

.main-view::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, .2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.main-view__swiper {
  height: inherit;
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.swiper-slide-active .main-view__img,
.swiper-slide-duplicate-active .main-view__img,
.swiper-slide-prev .main-view__img {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}

.main-view__content {
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  line-height: 1;
  z-index: 2;
}

.main-view__title {
  font-size: 28px;
  font-size: 1.75rem;
  letter-spacing: 0.01785714em;
}
@media screen and (min-width: 768px) {
  .main-view__title {
    font-size: 3.125rem;
    letter-spacing: 0.01em;
  }
}

.main-view__sub-title {
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.025em;
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .main-view__sub-title {
    font-size: 1.5625rem;
    letter-spacing: 0.02em;
  }
}

.news__inner {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  max-width: 640px;
  max-width: 40rem;
}
@media screen and (min-width: 768px) {
  .news__inner {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .news__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.news__date,
.news__category {
  display: inline-block;
  line-height: 1;
}

.news__date {
  font-size: 16px;
  font-size: 1rem;
}

.news__category {
  font-size: 14px;
  font-size: 0.875rem;
  margin-left: 28px;
  margin-left: 1.75rem;
  padding: 8px 21px;
  padding: 0.5rem 1.3125rem;
  border: 1px solid #fff;
}
@media screen and (min-width: 768px) {
  .news__category {
    font-weight: 500;
    margin-left: 3.4375vw;
  }
}

.news__title {
  margin-top: 16px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .news__title {
    margin-top: 0;
    margin-left: 4.765625vw;
    padding-top: 0.25rem;
    max-width: 35.4375rem;
    width: 44.296875vw;
  }
}

.news__title a {
  display: block;
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  line-height: 1.4375;
  letter-spacing: -0.009em;
  position: relative;
}

@media screen and (min-width: 768px) {
  .news__title a::after {
    content: "";
    -webkit-transition: inherit;
    transition: inherit;
    opacity: 0;
    display: block;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 0.4375rem);
    height: 0.0625rem;
  }
}

@media screen and (min-width: 768px) {
  .news__title a:hover::after {
    opacity: 1;
  }
}

.news__btn {
  text-align: center;
  margin-top: 28px;
  margin-top: 1.75rem;
}
@media screen and (min-width: 768px) {
  .news__btn {
    margin-top: 0;
    margin-left: 4.0625vw;
  }
}

.section-blog {
  margin-top: 104px;
  margin-top: 6.5rem;
}
@media screen and (min-width: 768px) {
  .section-blog {
    margin-top: 13.5625rem;
  }
}

.section-content {
  margin-top: 154px;
  margin-top: 9.625rem;
}
@media screen and (min-width: 768px) {
  .section-content {
    margin-top: 12.0625rem;
  }
}

.section-news {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .section-news {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=styles.css.map */
