@use "global" as *;

.news__inner {
  margin-right: auto;
  margin-left: auto;
  padding-left: $padding-sp;
  padding-right: $padding-sp;
  width: 100%;
  max-width: rem(640);
  @include mq(md) {
    padding-left: $padding-pc;
    padding-right: $padding-pc;
    max-width: 100%;
  }
}

.news__content {
  @include mq(md) {
    display: flex;
    justify-content: center;
  }
}

.news__date,
.news__category {
  display: inline-block;
  line-height: 1;
}

.news__date {
  font-size: rem(16);
}
.news__category {
  font-size: rem(14);
  margin-left: rem(28);
  padding: rem(8) rem(21);
  border: 1px solid #fff;
  @include mq(md) {
    font-weight: $medium;
    margin-left: calc(44 / 1280 * 100vw);
  }
}

.news__title {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: 0;
    margin-left: calc(61 / 1280 * 100vw);
    padding-top: rem(4);
    max-width: rem(567);
    width: calc(567 / 1280 * 100vw);
  }
}

.news__title a {
  display: block;
  font-size: rem(16);
  color: #fff;
  line-height: 1.4375;
  letter-spacing: -0.009em;
  position: relative;
}

.news__title a::after {
  @include mq(md) {
    content: "";
    transition: inherit;
    opacity: 0;
    display: block;
    background-color: $white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - #{rem(7)});
    height: rem(1);
    
  }
}

.news__title a:hover::after {
  @include mq(md) {
    opacity: 1;
  }
}

.news__btn {
  text-align: center;
  margin-top: rem(28);
  @include mq(md) {
    margin-top: 0;
    margin-left: calc(52 / 1280 * 100vw);
  }
}
