@use "global" as *;

.blog__items {
  margin-top: rem(69);
  @include mq(md) { 
    margin-top: rem(45);
  }
}

.blog__btn {
  text-align: center;
  margin-top: rem(26);
  @include mq(md) {
    margin-top: rem(48);
  }
}


