@use "global" as *;

.box1__bgc {
  position: relative;
}

.box1__bgc::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  background-color: $black;
  width: 100%;
  @include mq(md) {
    left: initial;
    width: calc(50% + #{rem(256)});
  }
}

.box1__wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    max-width: 1280px + strip-unit($padding-pc);
    padding-left: $padding-pc;
  }
}

.box1__inner.inner {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  @include mq(md) {
    max-width: rem(1190);
    margin-right: 0;
  }
}

.box1__contents {
  margin-top: rem(54);
  @include mq(md) {
    margin-top: rem(41);
    display: flex;
    align-items: center;
    padding: rem(80) rem(91) rem(80) 0;
    position: relative;
  }
}

.box1__content {
  padding: rem(29) $padding-sp rem(20);
  width: 100%;
  max-width: rem(540);
  margin-right: auto;
  margin-left: auto;
  @include mq(md) {
    max-width: rem(510);
    padding: 0;
    margin-left: rem(32);
  }
}

.box1__text {
  margin-top: rem(28);
  letter-spacing: 0.125em;
  line-height: 1.45;
  @include mq(md) {
    margin-top: rem(43);
    line-height: 2.1875;
    letter-spacing: 0.03125em;
  }
}

.box1__btn {
  text-align: center;
  margin-top: rem(26);
  @include mq(md) {
    text-align: left;
    margin-top: rem(48);
    font-weight: $medium;
  }
}


