@use "global" as *;

.footer {
  padding-top: rem(52);
  padding-bottom: rem(58);
  text-align: center;
  @include mq(md) {
    padding-top: rem(28);
    padding-bottom: rem(31);
  }
}

.footer__inner {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: rem(32);
    padding-right: rem(16);
  }
}

.footer__logo {
  width: rem(70);
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    width: rem(73);
    height: rem(20);
    margin-left: 0;
    margin-right: 0;
  }
}

.footer__items {
  margin-top: rem(3);
  @include mq(md) {
    display: flex;
    align-items: center;
  }
}

.footer__item a {
  display: block;
  width: 100%;
  letter-spacing: 0.075em;
  padding: rem(3) 0;
  @include mq(md) {
    padding: rem(6) rem(16);
    position: relative;
  }
}

.footer__item a::after {
  @include mq(md) {
    content: "";
    transition: inherit;
    opacity: 0;
    display: block;
    background-color: $yellow;
    position: absolute;
    bottom: rem(0);
    left: rem(16);
    width: calc(100% - #{rem(32)});
    height: rem(1);
  }
}

.footer__item a:hover::after {
  @include mq(md) {
    opacity: 1;
  }
}

.footer__copy {
  font-size: rem(11);
  letter-spacing: 0.10909091em;
  margin-top: rem(33);
  @include mq(md) {
    font-size: rem(15);
    letter-spacing: 0.08em;
    line-height: 2.3333333;
    margin-top: rem(65);
  }
}
